 <!-- begin::page-header -->
@using Microsoft.AspNet.Identity
@model Models.ViewModel.AppUserViewModel
@{
    var isCurrentUser = Model.Id.Equals(System.Web.HttpContext.Current.User.Identity.GetUserId());
}
<div class="page-header">
    <div class="container-fluid d-sm-flex justify-content-between">
        <h4>Profile</h4>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Pages</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
        </nav>
    </div>
</div>
<!-- end::page-header -->

<div class="container-fluid">

    <div class="row">
        <div class="col-md-4">

            <div class="card">
                <div class="card-body text-center">
                    <figure class="avatar avatar-lg m-b-20">
                        <img src="@(string.IsNullOrWhiteSpace(Model.Avatar) ? Common.Constants.AvatarDefault : Model.Avatar)" class="rounded-circle" alt="...">
                    </figure>
                    <h5 class="mb-1">@Model.FullName</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus repudiandae eveniet
                        harum.
                    </p>
                    @if (!isCurrentUser)
                    {
                        <a href="/Chat/Index?profileId=@Model.Id" class="btn btn-outline-primary">
                            Chat
                        </a>
                    }
                    @if (Model.IsFriendWithCurrentUser && !isCurrentUser)
                    {
                        <form method="post" action="/Contact/RemoveFriend" id="contact-remove-friend">
                            <input type="text" hidden name="profileId" value="@Model.Id">
                            <a href="javascript:document.getElementById('contact-remove-friend').submit()" type="submit" class="btn btn-primary">Remove Contact</a>
                        </form>
                    }
                    else if (!Model.IsCurrentUserSendRequest && Model.StatustRequest && !isCurrentUser)
                    {
                        <form method="post" action="/Contact/AcceptRequest" id="contact-accept">
                            <input type="text" hidden name="profileId" value="@Model.Id">
                            <a href="javascript:document.getElementById('contact-accept').submit()" type="submit" class="btn btn-primary">Accept</a>
                        </form>
                        <form method="post" action="/Contact/CancelRequest" id="contact-cancel">
                            <input type="text" hidden name="profileId" value="@Model.Id">
                            <a href="javascript:document.getElementById('contact-cancel').submit()" type="submit" class="btn btn-primary">Cancel</a>
                        </form>
                    }
                    else if (!isCurrentUser)
                    {
                        <form method="post" action="/Contact/AddContact" id="contact-add">
                            <input type="text" hidden name="profileId" value="@Model.Id">
                            <a href="javascript:document.getElementById('contact-add').submit()" type="submit" class="btn btn-primary">Add Contact</a>
                        </form>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-8">

            <div class="card">
                <div class="card-body">
                    @if (isCurrentUser)
                    {
                        <h6 class="card-title d-flex justify-content-between align-items-center">
                            Information
                            <a onclick="window.location.href='/Profile/Edit'" class="btn btn-outline-light btn-sm">
                                <i data-feather="edit-2" class="mr-2"></i> Edit
                            </a>
                        </h6>
                    }
                    <div class="row mb-2">
                        <div class="col-6 text-muted">Full Name:</div>
                        <div class="col-6">@Model.FullName </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6 text-muted">Brith Day:</div>
                        <div class="col-6">@Model.BirthDay</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6 text-muted">Address:</div>
                        <div class="col-6">@Model.Address</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6 text-muted">Phone:</div>
                        <div class="col-6">@Model.PhoneNumber</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6 text-muted">Email:</div>
                        <div class="col-6">@Model.Email</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>