<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - SMSOnline</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/app/assets/media/image/favicon.png" />

    <!-- Plugin styles -->
    <link rel="stylesheet" href="~/Content/app/vendors/bundle.css" type="text/css">

    <!-- Slick.js styles -->
    <link rel="stylesheet" href="~/Content/app/vendors/slick/slick.css" type="text/css">
    <link rel="stylesheet" href="~/Content/app/vendors/slick/slick-theme.css" type="text/css">
    <link href="~/Content/app/assets/css/app.css" rel="stylesheet" />
    <!-- App styles -->
    <link rel="stylesheet" href="~/Content/app/assets/css/app.min.css" type="text/css">
    <link href="~/Content/app/assets/css/customclient.css" rel="stylesheet" />
    @RenderSection("Css", required: false)
</head>
<body>

    <!-- begin::preloader-->
    <div class="preloader">
        <div class="preloader-icon"></div>
    </div>
    <!-- end::preloader -->
    <!-- begin::header -->
    @Html.Partial("_Header")
    <!-- end::header -->

    <div id="main">

        <!-- begin::navigation -->
        @Html.Partial("_Navigation")
        <!-- end::navigation -->
        <!-- begin::main content -->
        <main class="main-content">

            @RenderBody()

            <!-- begin::footer -->
            @Html.Partial("_Footer")
            <!-- end::footer -->

        </main>
        <!-- end::main content -->

    </div>

    <!-- Plugin scripts -->
    <script src="~/Content/app/vendors/bundle.js"></script>

    <!-- Slick.js -->
    <script src="~/Content/app/vendors/slick/slick.min.js"></script>

    <!-- Chartjs -->
    <script src="~/Content/app/vendors/charts/chartjs/chart.min.js"></script>

    <!-- Apex chart -->
    <script src="https://apexcharts.com/samples/assets/irregular-data-series.js"></script>
    <script src="~/Content/app/vendors/charts/apex/apexcharts.min.js"></script>

    <!-- Circle progress -->
    <script src="~/Content/app/vendors/circle-progress/circle-progress.min.js"></script>

    <!-- Dashboard scripts -->
    <script src="~/Content/app/assets/js/examples/dashboard.js"></script>
    <div class="colors">
        <!-- To use theme colors with Javascript -->
        <div class="bg-primary"></div>
        <div class="bg-primary-bright"></div>
        <div class="bg-secondary"></div>
        <div class="bg-secondary-bright"></div>
        <div class="bg-info"></div>
        <div class="bg-info-bright"></div>
        <div class="bg-success"></div>
        <div class="bg-success-bright"></div>
        <div class="bg-danger"></div>
        <div class="bg-danger-bright"></div>
        <div class="bg-warning"></div>
        <div class="bg-warning-bright"></div>
    </div>

    <!-- App scripts -->
    <script src="~/Content/app/assets/js/app.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script>
        $(function () {
            $('.slick-js').slick({
                speed: 500,
                arrows: false,
                slidesToShow: 5,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
                responsive: [
                    {
                        breakpoint: 1200,
                        settings: {
                            slidesToShow: 3
                        }
                    },
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 2
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 1
                        }
                    }
                ]
            });
        })
    </script>
</body>
</html>