@using SMSOnline.Helpers
@model Models.ViewModel.Others.ChatViewModel
@{
    ViewBag.Profile = Model.UserReceived.Id;
    var isLogged = IdentityHelper.IsUserLogged(Model.UserReceived.UserName);
}
<!-- begin::chat block -->
<div class="container-fluid h-100">
    <input type="text" hidden id="profile" value="@Model.UserReceived.Id">
    <div class="row no-gutters chat-block">

        <!-- begin::chat sidebar -->
        @{
           Html.RenderPartial("_ChatSearch", Model);
        }
        <!-- end::chat sidebar -->
        <!-- begin::chat content -->
        @* <div class="col-lg-8 chat-content"> *@
        <div class="col-lg-8 chat-content">

            <!-- begin::chat header -->
            <div class="chat-header border-bottom">
                <div class="d-flex align-items-center">
                    <div class="pr-3">
                        <div class="avatar avatar-sm  @(isLogged ? "avatar-state-success" : "avatar-state-danger")">
                            <img src="@(string.IsNullOrWhiteSpace(Model.UserReceived.Avatar) ? Common.Constants.AvatarDefault : Model.UserReceived.Avatar)"
                                 width="128" height="128" class="rounded-circle" alt="image">
                        </div>
                    </div>
                    <div>
                        <h6 class="mb-1">@Model.UserReceived.FullName</h6>
                        <div class="m-0 small text-success"></div>
                    </div>
                    <div class="ml-auto">
                    </div>
                </div>
            </div>
            <!-- end::chat header -->
            <!-- begin::messages -->
            <div class="messages"></div>
            <!-- end::messages -->
            <!-- begin::chat footer -->
            <div class="chat-footer border-top">

                <form class="d-flex" method="post" action="/Chat/CreateMessage" id="message-create">
                    <button class="btn btn-outline-light mr-2" type="button" title="Emoji"
                            data-toggle="tooltip">
                        <i data-feather="smile" class="width-15 height-15"></i>
                    </button>
                    <div class="flex-grow-1">
                        <input type="text" class="form-control" name="Content" placeholder="Write your message">
                        <input type="text" hidden class="form-control" name="UserReceivedId" value="@Model.UserReceived.Id">
                        <input type="text" hidden class="form-control" name="FullNameReceived" value="@Model.UserReceived.FullName">
                    </div>
                    <div class="chat-footer-buttons d-flex">
                        <a class="btn btn-primary" type="submit" href="javascript:document.getElementById('message-create').submit()">
                            <i data-feather="send" class="width-15 height-15"></i>
                        </a>
                        @* <button class="btn btn-outline-light" type="button" title="Attach files" *@
                        @*         data-toggle="tooltip"> *@
                        @*     <i data-feather="paperclip" class="width-15 height-15"></i> *@
                        @* </button> *@
                    </div>
                </form>
            </div>
            <!-- end::chat footer -->
        </div>
        <!-- begin::chat content -->
    </div>
</div>
<!-- begin::chat block -->

@section Scripts{
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            var profile = $("#profile").val();

            // Reference the hub.
            var hubNotif = $.connection.SMSOnlineHub;
            $.connection.hub.logging = true;
            // Start the connection.
            $.connection.hub.start().done(function () {
                getAll(profile);
            });

            // Notify while anyChanges.
            hubNotif.client.refreshSMSOnlineData = function (profile) {
                getAll(profile);
            };
        });

        function getAll(profile) {
            var model = $('.messages');
            $.ajax({
                url: '/Chat/GetMessageByByUserReceived',
                beforeSend: function (request) {
                    request.setRequestHeader("ProfileId", profile);
                },
                contentType: 'application/html ; charset:utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    model.empty().append(result);
                },
                error: function (result) {
                    console.log(result);
                }
            });
            //.error(function (e) { alert(e); });
        }
    </script>
}