@model Models.ViewModel.Others.CreditCardRequestModel

@{
    ViewData["Title"] = "Add Card";
}
<div class="row w-100 m-0">
    <div class="offset-md-6 col-md-5 container w-100">
        <h2>@ViewData["Title"]</h2>
        <hr class="hr-2" />
        @using (Html.BeginForm("Create", "CreditCard", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Number"></label>
                    @Html.TextBoxFor(m => m.Number, new
                    {
                        @class = "form-control",
                        @placeholder = "Number",
                        @required = "required"
                    })
                </div>
                <div class="form-group">
                    <label asp-for="CVV"></label>
                    @Html.TextBoxFor(m => m.CVV, new
                    {
                        @class = "form-control",
                        @placeholder = "The number on the back of your card...",
                        @required = "required"
                    })
                </div>
                <div class="form-group">
                    <label asp-for="ExpirationDate"></label>
                    @Html.TextBoxFor(m => m.ExpirationDate, new
                    {
                        @class = "form-control",
                        @placeholder = "ExpirationDate",
                        @type="date",
                        @required = "required"
                    })
                </div>
                <div>
                    <input type="submit" value="Add Card" class="btn btn-info btn-lg btn-block" />
                </div>
            </div>
        }


    </div>
</div>

