@model SMSOnline.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
    ViewBag.Title = "Register";
}
<h5>Create account</h5>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "registerForm" }))
{
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.TextBoxFor(m => m.FullName, new
        {
            @class = "form-control",
            @placeholder = "FullName",
            @required = "required",
            @autofocus = "autofocus"
        })
    </div>

    <div class="form-group">
        @Html.TextBoxFor(m => m.UserName, new
        {
            @class = "form-control",
            @placeholder = "UserName",
            @required = "required",
            @autofocus = "autofocus"
        })
    </div>

    <div class="form-group">
        @Html.TextBoxFor(m => m.Email, new
        {
            @class = "form-control",
            @placeholder = "Email",
            @required = "required",
            @autofocus = "autofocus"
        })
    </div>
    <div class="form-group">
        @Html.PasswordFor(m => m.Password, new
        {
            @class = "form-control",
            @placeholder = "Password",
            @required = "required"
        })

    </div>
    <div class="form-group">
        @Html.PasswordFor(m => m.ConfirmPassword, new
        {
            @class = "form-control",
            @placeholder = "ConfirmPassword",
            @required = "required"
        })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.BirthDay, new
             {
                 @class = "form-control",
                 @placeholder = "BirthDay",
                 @required = "required",
                 @type = "date"
             })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.PhoneNumber, new
        {
            @class = "form-control",
            @placeholder = "PhoneNumber",
            @required = "required"
        })
    </div>
    <div class="form-group" style="text-align: left;">
        <div class="form-check" style="display: inline-block;margin-right: 25px;">
            <input class="form-check-input position-static" type="radio" checked="checked" name="Gender" id="Gender" value="0" aria-label="..."> Male
        </div>
        <div class="form-check" style="display: inline-block">
            <input class="form-check-input position-static" type="radio" name="Gender" id="Gender" value="1" aria-label="..."> Female
        </div>
    </div>
    <a href="javascript:document.getElementById('registerForm').submit()" class="btn btn-primary btn-block">Register</a>
    <hr>
    <p class="text-muted">Already have an account?</p>
    <a onclick="window.location.href='/Account/Login'" class="btn btn-outline-light btn-sm">Sign in!</a>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
