@using SMSOnline.Models
@model SMSOnline.Models.LoginViewModel
@{
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
    ViewData["Title"] = "SMSOnline Login";
}
<h5>Sign in</h5>
<!-- form -->
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control"
            , placeholder = "Username or email",@required = "required" ,@autofocus= "autofocus"})
    </div>
    <div class="form-group">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", @required = "required" })
    </div>
    <div class="form-group d-flex justify-content-between">
        
        <div class="custom-control custom-checkbox">
            @Html.CheckBoxFor(m => m.RememberMe, new { @class = "custom-control-input",
           @type = "checkbox",
           @checked = ""
       })
            <label class="custom-control-label" for="RememberMe">Remember me</label>
        </div>
        @Html.ActionLink("Forgot your password?", "ForgotPassword")
    </div>
    <button class="btn btn-primary btn-block">Sign in</button>
    <hr>
    <p class="text-muted">Login with your social media account.</p>
    <ul class="list-inline">
        <li class="list-inline-item">
            <a href="#" class="btn btn-floating btn-facebook">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#" class="btn btn-floating btn-twitter">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#" class="btn btn-floating btn-dribbble">
                <i class="fa fa-dribbble"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#" class="btn btn-floating btn-linkedin">
                <i class="fa fa-linkedin"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#" class="btn btn-floating btn-google">
                <i class="fa fa-google"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#" class="btn btn-floating btn-behance">
                <i class="fa fa-behance"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="#" class="btn btn-floating btn-instagram">
                <i class="fa fa-instagram"></i>
            </a>
        </li>
    </ul>
    <hr>
    <p class="text-muted">Don't have an account?</p>
    <a onclick="window.location.href='/Account/Register'" class="btn btn-outline-light btn-sm">Register now!</a>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
